//- META
meta(charset='utf-8')
meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0')

//- TITLE
block title
  title Skeleton

//- CSS
link(rel='stylesheet', href='/assets/css/index.css')
