extends ../layout

block content
	form(class='', action='/users/login', method='POST')
		input(type='text', name='email' class='form-control', placeholder='Email',required, autofocus)
		input(type='password', name='password' class='form-control', placeholder='Password', required)
		input(type="hidden", name="_csrf", value="#{csrfToken}")
		button(class='', type='submit') Sign in
	a(href='/users/signup', class='') Create an account
	br
	if message
		h1 #{message}
