extends ../layout

block content
	form(class='', action='/users/signup', method='POST')
		input(type='email', name='email', class='form-control', placeholder='Email',required,autofocus)
		input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
		input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
		input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
		input(type="hidden", name="_csrf", value="#{csrfToken}")
		button(class='', type='submit') Register
	if message
		h1 #{message}
